# Files
.sass-cach
.DS_Store
license.txt
node_modules
readme.html

# Directories
wp-content/uploads
wp-content/debug.log

# W3 Total Cache
wp-content/cache
wp-content/advanced-cache.php
wp-content/w3tc-config
wp-content/db.php
wp-content/object-cache.php
